= simple_form_for(@user, url: user_confirmation_path) do |f|
  %fieldset
    %legend Resend confirmation instructions
    = f.input :email
    .form-actions
      = f.button :submit, 'Resend confirmation', class: 'btn-primary'

  = render partial: 'users/shared/links'
