%li.comment{id: dom_id(comment)}
  .info
    %img{src: user_avatar_url(comment.user)}
    %span= comment.user.email
    %time.timeago{datetime: comment.created_at.iso8601}= comment.created_at
    - if can?(:destroy, comment)
      = link_to_destroy('×', comment, class: 'close')
  .body= comment.body
