%li.comment{id: dom_id(comment)}
  .info
    %img{src: user_avatar_url(comment.user)}
    %span= comment.user.email
    #{time_ago_in_words(comment.created_at)} ago
    - if can?(:destroy, comment)
      = link_to_destroy('×', [comment.commentable, comment], class: 'close')
  .body= comment.body
