= simple_form_for([current_resource, Comment.new], remote: true) do |f|
  = f.input :body, as: :text, label: false, input_html: { class: 'input-xlarge expand', placeholder: 'Add a comment...' }
  = f.button :submit, 'Post', class: 'btn-primary'