# CarrierWave::SanitizedFile.sanitize_regexp = /[^[:word:]\.\-\+]/
# CarrierWave.configure do |config|
#   config.storage = :s3
#   config.s3_access_key_id = "xxxxxx"
#   config.s3_secret_access_key = "xxxxxx"
#   config.s3_cnamed = true
#   config.s3_bucket = 'cdn.example.com'
#   config.s3_region = 'us-west-1'
# end
