.header-actions
  = link_to('Edit', edit_polymorphic_path(container), class: 'btn btn-primary btn-mini')
  = link_to('Delete', polymorphic_path(container), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini')