.header-actions.btn-toolbar
  = link_to('Edit', edit_polymorphic_path(container), class: 'btn btn-primary btn-mini')
  = link_to('Delete', polymorphic_path(container), method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure?' })