.album.grid-item
  .cover= link_to(image_tag(album.thumbnail_url), album)
  .info
    = link_to(album.display_name, album, class: 'item-link')
    - if album.images_count > 0
      .stats.muted
        %span.stat-block
          %i.icon-picture
          %span.text= album.images_count
        %span.stat-block
          %i.icon-time
          %span.text= time_ago(album.last_updated)
    .clearfix
