%li
  %a{href: category_album_url(album.category, album)}
    %img.thumbnail{src: album.thumbnail_url}
    %h5.album-title=truncate(album.title, length: 30)
    %h6.album-description=truncate(album.description, length: 20)