.header-actions.btn-toolbar
  = link_to('Edit', edit_album_path(album), class: 'btn btn-primary btn-mini')
  = link_to('Delete', album, method: :delete, class: 'btn btn-danger btn-mini', confirm: 'Are you sure?')
