- if can?(:manage, @album)
  .header-actions.btn-toolbar
    = link_to('Edit', edit_album_path(album), class: 'btn btn-primary btn-mini')
    = link_to('Delete', album, method: :delete, class: 'btn btn-danger btn-mini', confirm: 'Are you sure?')
- if can?(:create, Archive) && album.childless?
  #download-zip.pull-right
    = link_to('Download Zip', album_archive_path(album), class: 'btn btn-primary', remote: true, method: :post)
