- if album.sources.present?
  .accordian.span12#images_source_filter
    .accordian-group
      .accordian-heading
        %a.accordian-toggle{href: '#filter-images', data: { toggle: 'collapse' }}
          Filter
          %i.icon-chevron-down.icon-large
      .collapse.accordion-body#filter-images
        = simple_form_for album, method: :get, html: { class: 'accordion-inner' } do |f|
          = f.association :sources, collection: album.sources.order(:name),
            selected: method(:source_selected?).to_proc,
            label: 'By Source',
            input_html: { class: 'chosen span12', data: { placeholder: 'Select sources to filter by...' } }
          = f.button :submit, value: 'Filter', class: 'btn-primary'
          %button.btn#clear-images-filter Clear
