= simple_form_for(@album) do |f|
  %fieldset
    %legend Editing Album
    = render 'albums/form', f: f
    .form-actions
      = f.button :submit, 'Save', class: 'btn-primary'

= link_to 'Show', @album