#recent_albums.well
  %h3 Recently Updated
  %ol.thumbnails
    = render partial: @recent_albums, cache: true

%ol#albums.thumbnails
  = render partial: @albums, cache: true

- if can?(:create, Album)
  = link_to('New Album', new_album_path, class: 'btn btn-primary')
