// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.albums {

  #upload_box {
    border: 3px dashed #888888;
    cursor: pointer;
    height: 80px;
    text-align: center;
    width: 240px;

    #upload_box_message_container {
      display: inline-block;
      margin-top: 18px;
      width: 160px;
    }

    #upload_box_message {
      color: #555555;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}