@charset 'UTF-8';

@import 'libraries';
@import 'utils';
@import 'albums';
@import 'comments';
@import 'sources';

a { color: black }

section { padding-top: 60px }

.container-fluid { min-width: 480px }

.breadcrumb { border: 1px solid #DDD }

.favorite-toggle {
  float: left;
  margin: 18px 12px;

  &:hover { opacity: .8 } }

footer {
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px }

#loading {
  position: fixed;
  height: 100%; width: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;

  div {
    margin-top: 300px;
    color: #fff;
    font-size: 34px;
    text-align: center } }
