/*
 *= require bootstrap
 *= require bootstrap-image-gallery
 *= require bootstrap-backbone-forms
 *= require_self
 *= require_tree .
*/

.stack > *:not(.active) { display: none }

a { color: black }

section { padding-top: 60px }

footer {
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px }

.categories {
  .thumbnail {
    padding: 15px 15px 0px 15px;
    width: 200px;
    height: 250px;

    img {
      border: 1px solid #D3D3D3;
      width: 200px;
      height: 200px }

    .thumbnail-title {
      text-align: center;
      padding: 8px 0px } } }