@charset 'UTF-8';

@import 'libraries';
@import 'albums';
@import 'comments';

a { color: black }

section { padding-top: 60px }

.container-fluid { min-width: 480px }

.breadcrumb { border: 1px solid #DDD }

.favorite, .favorited { &:hover { opacity: .8 } }

footer {
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px }

.plupload.html5, .plupload.flash { display: none }

