$suggestionWidth: 325px;
$inputWidth: 400px;
$soulmateWidth: $inputWidth - 21px;

#attribution-container dl { font-size: 14px }

#attribution {
  border: 1px solid #999;
  color: #545C5F;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 12px 12px 10px;
  width: $inputWidth;
  @include border-radius(4px) }

#soulmate {
  background-color: #fafafa;
  border: 1px solid #bbb;
  display: none;
  font-weight: normal;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 0 white;
  top: 330px;
  width: $soulmateWidth;
  z-index: 1000;
  @include border-radius(4px);
  @include box-shadow(0, 4px, 10px, rgba(0,0,0,.2));

  .soulmate-type-container {
    border-top: 1px solid #ddd;
    &:first-child {
      border-top: none } }

  .soulmate-type-suggestions {
    border-left: 1px solid #ddd;
    float: right;
    list-style: none;
    padding: 5px 0;
    width: $suggestionWidth;
    letter-spacing: 0.5px }

  .soulmate-suggestion {
    color: #111;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 0 6px 12px;
    text-decoration: none;

    &.focus {
      color: white;
      margin-left: -1px;
      margin-right: -1px;
      padding-left: 13px;
      position: relative;
      text-shadow: 0 1px 1px #32629b;
      z-index: 1;
      @include box-shadow(0, 1px, 2px , rgba(0,0,0,0.3));
      @include gradient-vertical(#545454, #444444) } }

  .soulmate-type {
    background-color: white;
    color: #333;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-right: $suggestionWidth;
    padding: 10px 10px 0 10px;
    text-align: right;
    text-transform: capitalize;
    vertical-align: top;
    @include border-radius(5px);
    @include clearfix() } }
