= simple_form_for(@category) do |f|
  %fieldset
    %legend New root category
    = render partial: 'containers/form', locals: {f: f}
    .form-actions
      = f.button :submit, 'Create', class: 'btn-primary'
