#uploader.row-fluid
  %strong Drag & drop photos anywhere on the page!
  .btn-toolbar
    .btn-group
      %button.btn#select_files Select Files
      %button.btn.btn-primary#start_upload{data: {:'loading-text' => 'Uploading', :'complete-text' => 'Uploaded!'}} Upload
    .btn-group
      %button.btn#toggle_deletion Deletion Mode
      %button.btn#toggle_editing Edit Mode

  %ul.unstyled#file_list

%hr/
