#uploader
  #upload_box
    #upload_box_message_container
      %p#upload_box_message Drag & Drop Files Here
  %button.btn.btn-large.btn-primary#start_upload{data: {:'loading-text' => 'Uploading', :'complete-text' => 'Uploaded!'}} Upload
  %ul.unstyled#file_list
