= form_for [@category, @album, Image.new], :html => { :multipart => true, :id => "image_upload"}, :remote => true do |f|
  #image_upload_container
    = f.label :image
    = f.file_field :image
    .actions
      = f.submit 'Save'