#modal-gallery.modal.modal-gallery.hide.fade
  .modal-header
    %a.close{data: {dismiss: 'modal'}} ×
    %h3.modal-title
  .modal-body
    .modal-image
  .modal-footer
    %a.btn.btn-info.modal-prev
      %i.icon-arrow-left.icon-white
    %a.btn.btn-primary.modal-next
      %i.icon-arrow-right.icon-white
    %a.btn.btn-success.modal-play.modal-slideshow{data: {slideshow: '5000'}}
      %i.icon-play.icon-white
    %a.btn.modal-download{target: '_blank'}
      %i.icon-download
